html,
body {
  margin: 0;
  height: 100%;
}
.container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: repeat(5, minmax(100px, 1fr));
}
h1,
p,
div {
  margin: 0px;
  font-size: clamp(1rem, 5vw, 1.1rem);
}
.icon {
  width: 20px;
}
.sidebar-container {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(auto-fit, 100px);
  grid-row: 1 / 7;
  gap: 40px;
  background-color: beige;
}
.sidebar-title {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar-top,
.sidebar-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
}
.sidebar-bottom div,
.sidebar-top div {
  width: 100px;
  grid-column: 2/ 3;
  /* text-align: start; */
}
.header-container {
  display: grid;
  grid-column: 2 / 6;
  background-color: azure;
}
.header-top,
.header-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* justify-content: space-between; */
}
.header-top-left,
.header-top-right {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}
.header-top-left div {
  display: flex;
}
.header-top-left input {
  flex: 10;
}
.header-top-right div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.header-bottom {
  display: grid;
  align-content: center;
}
.header-bottom-left {
  display: grid;
  grid-template-columns: 50px 200px;
  gap: 5%;
}
#greeting {
  font-size: 0.8em;
}
.username {
  font-size: 1.4em;
}
.header-bottom-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
}
.main-content-container {
  display: grid;
  background-color: blanchedalmond;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  overflow: scroll;
}
.projects-container {
  grid-column: 2 / 5;
  padding: 10px;
}
.section-title {
  font-weight: 700;
}
.cards {
  display: grid;
  grid-row: 2/6;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.project-card {
  display: grid;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.049);
}
.project-card:hover {
  top: 2.5px;
}
.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.annouce-trending-sections {
  display: grid;
}
.announce-content {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 3%;
  padding: 30px;
}
.annoucements-container {
  display: grid;
  background-color: aquamarine;
}
.annoucements-cards {
}
.trending-container {
  display: grid;
  padding: 20px;
  background-color: cornflowerblue;
  background-color: whitesmoke;
  /* grid-template-rows: repeat(auto-fit,minmax(50px,1fr)) ; */
}
.trending-card img {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(233, 229, 229);
  /* border-radius: 25px; */
}
.trending-card {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.127);
  justify-content: center;
  align-items: center;
  width: 250px;
  gap: 10px;
}

.img-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px grey solid;
}
img {
  width: 100%;
}
