html, body {
  margin: 0px;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-template-rows: repeat(5, minmax(200px, 1fr));
}
h1,
p,
div {
  margin: 0px;
  font-size: clamp(1rem, 5vw, 1.1rem);
}
.sidebar-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 100px);
  grid-row: 1 / 7;
  gap: 5%;
  background-color: beige;
}
.sidebar-title {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.sidebar-top,
.sidebar-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sidebar-bottom div,
.sidebar-top div {
  width: 100px;
  grid-column: 2/ 3;
  /* text-align: start; */
}
.header-container {
  display: grid;
  grid-column: 2 / 6;
  background-color: azure;
}
.header-top,
.header-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
}
.main-content-container {
  display: grid;
  background-color: blanchedalmond;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column: 2 / 6;
  grid-row: 2 / 6;
}
.projects-container {
  grid-column: 2/ 5;
  padding: 10px;
}
.section-title {
  font-weight: 700;
}
.cards {
  display: grid;
  grid-row: 2/6;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.project-card {
  display: grid;
  padding: 10px;
  border: 1px grey solid;
}
.annouce-trending-sections {
  display: grid;
}
.annoucements-container {
  background-color: aquamarine;
}
.trending-container {
  display: grid;
  background-color: cornflowerblue;
}
.annoucements-cards {
  /* justify-content: center; */
}
.trending-container {
  display: grid;
  gap: 10px;
  background-color: whitesmoke;
  /* grid-template-rows: repeat(auto-fit,minmax(50px,1fr)) ; */
}
.trending-card img {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(233, 229, 229);
  /* border-radius: 25px; */
}
.trending-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  gap: 10px;
}
